@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome comics lover</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="form">
    <fieldset>
        <legend>Add Series</legend>
        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input id="submit" type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</div>

@section scripts{
    <script src="~/js/CreateComicsSeriesCall.js"></script>
}